/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.box {
  border: 2px solid black;  
  padding: 2rem;
  text-align: center;
  max-width: 400px;
  width: 100%;
} */

.animated-btn {
  padding: 10px 30px;
  font-size: 16px;
  /* color: white; */
  /* background-color: #1976d2; */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.animated-btn:hover {
  /* background-color: #125ea7; */
  transform: scale(1.05);
}

.animated-btn:active {
  transform: scale(0.98);
}